
.div-content-projecttransspace {
  display:          flex;
  justify-content:  center;
  align-items:      center;
  gap:              1em;
}

.div-content-projecttransspace img {
  display:          block;
}

/*
 * vim:ts=2 sw=2 expandtab fenc=utf-8 foldmethod=marker nowrap tw=0
 */
