
/*
 * Element rules
 */

html, body {
  /* (required by #div-background) */
  margin:           0;
  height:           100%;
  width:            100%;
  font-family:      "Palatino", "Noto Naskh Arabic";
}

@font-face {
  font-family:      "Noto Naskh Arabic";
  ascent-override:  60%;
  descent-override: 60%;
  size-adjust:      150%;
  src:              url("NotoNaskhArabic.woff2") format("woff2");
  unicode-range:    U+0600-06FF, U+0750-077F, U+08A0-08FF;  /* Arabic, Arabic Supplement, Arabic Extended-A */
}

body { font-size: 1em; }

a:link { color: #178AB6; text-decoration: none; }
a:visited { color: #178AB6; text-decoration: none; }
a:hover { color: #A05463; text-decoration: underline; }

h1, h2 { font-size: 1.5em; font-variant: small-caps; font-weight: bold; }
h2 { font-size: 1.2em; }

hr { border: none; border-bottom: 1px solid silver; width: 25%; }

li { margin: 1em; }

p { text-align: justify; text-indent: 1em; }

/*
 * Class rules
 */

.a-reference { font-size: small; }
.div-references { padding: 2em 0 2em 0; }

.element-hidden { visibility: hidden; }

.img-centred { display: block; margin-left: auto; margin-right: auto; }
.img-float-right { float: right; margin: 0 0 1rem 1rem; }
.img-width-250px { width: 250px; }
.img-width-45 { width: 45%; }

.table-muwashshahah-ar { direction: rtl; }
.table-muwashshahah-ar-centred { direction: rtl; text-align: center; margin-left: auto; margin-right: auto; }
.table-muwashshahah-en { direction: ltr; }
.table-muwashshahah-en-centred { direction: ltr; text-align: center; margin-left: auto; margin-right: auto; }

:is(.table-muwashshahah-ar,
    .table-muwashshahah-ar-centred,
    .table-muwashshahah-en,
    .table-muwashshahah-en-centred)
tbody:not(:last-of-type) tr:last-child td { border-bottom: 1em solid transparent; }

:is(.table-muwashshahah-ar,
    .table-muwashshahah-ar-centred,
    .table-muwashshahah-en,
    .table-muwashshahah-en-centred) { margin-bottom: 1em; margin-top: 1em; }

.tbody-muwashshahah-bayt { font-weight: normal; }
.tbody-muwashshahah-heading { font-style: italic; font-weight: bold; }
.tbody-muwashshahah-qufl { font-weight: bold; }

.text-black { color: #000000; }
.text-green { color: #007f5d; }
.text-red { color: #7f0000; }

.text-bold { font-weight: bold; }
.text-centre { text-align: center; }
.text-cursor-pointer { cursor: pointer; }
.text-italic { font-style: italic; }
.text-line-through { text-decoration: line-through; }
.text-underline { text-decoration: underline; }

.text-incantation { font-weight: bold; font-size: 1.5em; text-align: center; }

.text-inscription-cuneiform { font-size: 1.5em; line-height: 150%; text-align: center; }
.text-inscription-cuneiform-small { font-size: 1em; line-height: 150%; text-align: center; }
.text-inscription-cuneiform-small-normal-line-height { font-size: 1em; text-align: center; }
.text-inscription-cuneiform-large { font-size: 2em; line-height: 150%; text-align: center; }

.text-margin-bottom-none { margin-bottom: 0; }
.text-margin-top-none { margin-top: 0; }
.text-margin-top-1em { margin-top: 1em; }

.text-warning-black { border: solid black 0.25em; padding: 0.5em; }
.text-warning-red { border: dashed red 0.25em; padding: 0.5em; }

/*
 * vim:ts=2 sw=2 expandtab fenc=utf-8 foldmethod=marker nowrap tw=0
 */
