
html, body {
  /* (required by #div-background) */
  margin:                 0;
  height:                 100%;
  width:                  100%;
  font-family:            "Palatino", "Noto Naskh Arabic";
}

@font-face {
    font-family:          "Noto Naskh Arabic";
    size-adjust:          150%;
    src:                  url("NotoNaskhArabic.woff2") format("woff2");
    unicode-range:        U+0600-06FF, U+0750-077F, U+08A0-08FF;  /* Arabic, Arabic Supplement, Arabic Extended-A */
}

body {
  font-size:              1em;
}

p {
  text-align:             justify;
  text-indent:            1em;
}


a:link {
  color:                  #178AB6;
  text-decoration:        none;
}
a:visited {
  color:                  #178AB6;
  text-decoration:        none;
}
a:hover {
  color:                  #A05463;
  text-decoration:        underline;
}


h1, h2 {
  font-size:              1.5em;
  font-variant:           small-caps;
  font-weight:            bold;
}
h2 {
  font-size:              1.2em;
}

hr {
  border:                 none;
  border-bottom:          1px solid silver;
  width:                  25%;
}

li {
  margin:                 1em;
}

/*
 * vim:ts=2 sw=2 expandtab fenc=utf-8 foldmethod=marker nowrap tw=0
 */
