
/* {{{ div-content-stories-roarie* */
#div-content-stories-roaries {
  position:           relative;
}

.div-content-stories-roaries {
  position:           absolute;
  left:               20%;
  top:                10%;

  font-size:          3em;
  opacity:            0.8;
  visibility:         hidden;
}

#div-content-stories-roarie1 {
  -webkit-animation:  div-content-stories-roarie1 4s ease-out infinite;
  animation:          div-content-stories-roarie1 4s ease-out infinite;
  color:              #00bbbb;
}

#div-content-stories-roarie2 {
  -webkit-animation:  div-content-stories-roarie2 3s ease-out 0.5s infinite;
  animation:          div-content-stories-roarie2 3s ease-out 0.5s infinite;
  color:              #bb00bb;
}

#div-content-stories-roarie3 {
  -webkit-animation:  div-content-stories-roarie1 2s ease-out 0.25s infinite;
  animation:          div-content-stories-roarie1 2s ease-out 0.25s infinite;
  color:              #5555ff;
}

#div-content-stories-roarie4 {
  -webkit-animation:  div-content-stories-roarie2 1.5s ease-out infinite;
  animation:          div-content-stories-roarie2 1.5s ease-out infinite;
  color:              #ffff55;
}

#div-content-stories-roarie5 {
  -webkit-animation:  div-content-stories-roarie1 3s ease-out 0.75s infinite;
  animation:          div-content-stories-roarie1 3s ease-out 0.75s infinite;
  color:              #ff55ff;
}

#div-content-stories-roarie6 {
  -webkit-animation:  div-content-stories-roarie2 2.5s ease-out 0.45s infinite;
  animation:          div-content-stories-roarie2 2.5s ease-out 0.45s infinite;
  color:              #bbbb00;
}

#div-content-stories-roarie7 {
  -webkit-animation:  div-content-stories-roarie1 4.25s ease-out 0.6s infinite;
  animation:          div-content-stories-roarie1 4.25s ease-out 0.6s infinite;
  color:              #000000;
}

@-webkit-keyframes div-content-stories-roarie1 {
  0%    { transform: translateY(0) translateX(0) scale(0.25); opacity: 0.8; }
  100%  { transform: translateY(-100px) translateX(-20px) scale(1); opacity: 0.8; }
}

@keyframes div-content-stories-roarie1 {
  0%    { transform: translateY(0) translateX(0) scale(0.25); opacity: 0.8; }
  100%  { transform: translateY(-100px) translateX(-20px) scale(1); opacity: 0.8; }
}

@-webkit-keyframes div-content-stories-roarie2 {
  0%    { transform: translateY(0) translateX(0) scale(0.25); opacity: 0.8; }
  100%  { transform: translateY(-100px) translateX(20px) scale(1); opacity: 0.8; }
}

@keyframes div-content-stories-roarie2 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.8; }
  100% {transform: translateY(-100px) translateX(20px) scale(1); opacity: 0.8; }
}
/* }}} */

.div-content-stories1 {
  background:             transparent;
  grid-area:              a;
  text-align:             center;
}

.div-content-stories2 {
  background:             transparent;
  grid-area:              b;
  text-align:             center;
}

.div-content-stories3 {
  background:             transparent;
  grid-area:              c;
  text-align:             center;
}

/*
 * vim:ts=2 sw=2 expandtab fenc=utf-8 foldmethod=marker nowrap tw=0
 */
