
.div-legend {
  padding:                1.5em;
  width:                  50%;
}

@media (max-width: 1280px) {
  .div-legend {
    width:                85%;
  }
}

.div-legend > .span-legend-colour-block {
  display:                inline-block;
  width:                  2em;
}
.div-legend > .span-legend-colour-block:after {
  content:              '.';
  visibility:             hidden;
}

.div-legend > h1, .div-legend > h2 {
  display:                inline;
  font-size:              2em;
  font-variant:           normal;
  font-weight:            normal;
}
.div-legend > h2 {
  font-size:              1.25em;
}
.div-legend > h3 {
  margin:                 0;
}


.span-menu {
  font-size:              0.8em;
  font-variant:           small-caps;
  padding:                0.5em;
  width:                  60%;
}

@media (max-width: 1280px) {
  .div-menu {
    width:                90%;
  }
}

/*
 * vim:ts=2 sw=2 expandtab fenc=utf-8 foldmethod=marker nowrap tw=0
 */
