
/* {{{ #div-legend styles */
#div-legend {
  background-color: rgba(255,255,255,0.85);
  padding:          1.5em;
  display:          grid;
  grid-template-areas:
    "l t r"
    "b b b"
}

@supports (-webkit-appearance: none) and (not (-moz-appearance: none)) {
  #div-legend {
    width:          60%;
  }
}
@supports (-moz-appearance: none) {
  #div-legend {
    width:          50%;
  }
}

@media (max-width: 1280px) {
  #div-legend {
    width:          85%;
  }
}

#span-legend-top {
  align-self:       center;
  grid-area:        t;
}
#span-legend-left {
  align-self:       center;
  grid-area:        l;
}
#span-legend-right {
  align-self:       center;
  grid-area:        r;
}

#span-legend-top > h1,
#span-legend-top > h2,
#span-legend-top > h3,
#span-legend-top > h4
{
  display:          inline;
  font-variant:     normal;
  font-weight:      normal;
}

#span-legend-top > h1 {
  font-family:      "Cormorant Garamond";
  font-size:        3.3em;
}

#span-legend-top > h2 {
  font-family:      "Cormorant Garamond";
  font-size:        1.8em;
  text-transform:   uppercase;
}

#span-legend-top > h3 {
  font-family:      "Cormorant Garamond";
  font-size:        1.1em;
  font-style:       italic;
}

#span-legend-top > span > h4 {
  margin:           0;
}
/* }}} */
/* {{{ .span-legend-menu styles */
.span-legend-menu {
  font-variant:     small-caps;
  padding:          0.5em;
  width:            60%;
}

@supports (-webkit-appearance: none) and (not (-moz-appearance: none)) {
  .span-legend-menu {
    font-size:      1.05em;
  }
}

@supports (-moz-appearance: none) {
  .span-legend-menu {
    font-size:      0.8em;
  }
}
/* }}} */
/* {{{ #div-copyright styles */
#div-copyright {
  font-size:        0.6em;
  padding:          1em;
  width:            80%;
}

@media (max-width: 1280px) {
  #div-copyright {
    width:          95%;
  }
}
/* }}} */

/*
 * vim:ts=2 sw=2 expandtab fenc=utf-8 foldmethod=marker nowrap tw=0
 */
