
.div-content-error-page {
  background:             transparent;
  grid-area:              b;
  text-align:             center;
}

/*
 * vim:ts=2 sw=2 expandtab fenc=utf-8 foldmethod=marker nowrap tw=0
 */
