
#div-background {
  background-image:       url(bg_final50.jpg);
  background-position:    center;
  background-repeat:      no-repeat;
  background-size:        cover;
  inset:                  0;
  position:               fixed;
  z-index:                -1;
}

#div-background::before {
  background-color:       rgba(255, 255, 255, 0.4);
  content:                "";
  inset:                  0;
  mix-blend-mode:         lighten;
  pointer-events:         none;
  position:               absolute;
}

#main-page {
  margin:                 0 auto;
  padding:                2rem;
}


.div-box {
  background-color:       rgba(255,255,255,0.75);
  margin:                 auto;
  text-align:             center;
}

.div-empty {
  background-color:       transparent;
  height:                 1em;
}

.div-content {
  padding:                1em;
  text-align:             left;
  width:                  70%;
}

@media (max-width: 1280px) {
  .div-content {
    width:                95%;
    }
}

.div-content > .p-references {
  text-indent:            0em;
  font-size:              1em;
  font-variant:           small-caps;
}

.div-content-grid {
  padding:                1em;
  width:                  70%;

  display:                grid;
  grid-template-areas:
    "a a b b c c"
    "a a b b c c"
    "a a b b c c"
}

@media (max-width: 1280px) {
  .div-content-grid {
    width:                95%;
  }
}

@media (max-width: 1280px) {
    .div-content-img {
        display:          none !important;
    }
}

.div-content-error-page {
  background:             transparent;
  grid-area:              b;
  text-align:             center;
}

#img-generic-image {
  display:                block;
  margin-left:            auto;
  margin-right:           auto;
  max-height:             100%;
  max-width:              100%;
}

/*
 * vim:ts=2 sw=2 expandtab fenc=utf-8 foldmethod=marker nowrap tw=0
 */
