
#div-content-arabic-poems1 {
  background: transparent;
  grid-area:  a;
}

#div-content-arabic-poems2 {
  background: transparent;
  grid-area:  b;
}

#div-content-arabic-poems3 {
  background: transparent;
  grid-area:  c;
}

/*
 * vim:ts=2 sw=2 expandtab fenc=utf-8 foldmethod=marker nowrap tw=0
 */
