
.div-copyright {
  font-size:              0.6em;
  padding:                1em;
  width:                  80%;
}

@media (max-width: 1280px) {
  .div-copyright {
    width:                95%;
  }
}

/*
 * vim:ts=2 sw=2 expandtab fenc=utf-8 foldmethod=marker nowrap tw=0
 */
